#content, html, body {
    height: 100%;
    margin: 0px;
    font-family: linotype-sabon, sans-serif;
	font-weight: 400;
	font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #00000;
    background-color: #F3F3ED;

}

#top, html, body {
    width: 80vw;
    height: 100vh;
    min-width: 800px;
    padding: 20px;
}

——————MOBILE———————

@media screen and (min-width: 200px) {

#content, html, body {
      font-size: 18px;
  }

#top, html, body {
    width: 100vw;
    height: 100vh;
    min-width: 800px;
    padding: 20px;
}

  }
}