* {box-sizing: border-box;}
* {margin: 0px; padding: 0px;}



#container html, body {
    height: 100%;
    margin: 0px;
    background-color: #F3F3ED;
}


span {
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}


h1 {

    font-family: linotype-sabon, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #00000;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

#contact { 
    position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    font-family: linotype-sabon, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #00000;
    background-color: #F3F3ED;
}


<!-- ******Collumns as Classes****** -->

.row::after {
  content: "";
  clear: both;
  display: table;
}

.intro
{
    height: 100%;
    margin: 0px;
    font-family: linotype-sabon, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #00000;
    overflow: hidden;

}

.columns
{
    font-family: linotype-sabon, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #00000;
}


[class*="col-"] {
  float: left;
  padding: 25px;
}

.col-1 {width: 16.6%;}
.col-2 {width: 33.2%;}
.col-3 {width: 49.8%;}
.col-4 {width: 66.4%;}
.col-5 {width: 83%;}
.col-6 {width: 100%;}




<!-- ***RESPONISVE TYPOGRAPHY** -->

@media screen and (min-width: 480px) {
  .intro { font-size: 30px; }
}
@media screen and (min-width: 640px) {
  .intro { font-size: 40px; }
}
@media screen and (min-width: 1024px) {
  .intro { font-size: 50px; }
}
